# Ignore the following files and directories
/.phpunit.cache
/node_modules

# Ignore build and hot files
/public/build
/public/hot
/public/storage

# Ignore storage files and directories
/storage/*.key
/vendor

# env files
.env
.env.backup
.env.production

# Ignore PHPUnit result cache
.phpunit.result.cache

# Ignore IDE and editor files
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea

# Ignore IDE files and specific folders\files
FILES/
.vscode/
notes/
temp/